google-api-python-client
python-dotenv
pandas
langdetect
beautifulsoup4
vaderSentiment
transformers
torch
numpy
keybert
spacy
bertopic
sentence-transformers
hdbscan
tqdm
scikit-learn
weaviate-client
mlflow
langchain
langgraph
streamlit
torchvision